<main>
    <!-- section -->
    <section class="my-lg-5 my-3">
       <!-- container -->
       <div class="container">
          <!-- row -->
          <div class="row justify-content-center align-items-center">
             <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center">
                <div>
                   <div class="mb-lg-9 mb-5">
                      <!-- heading -->
                      <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
                      <p>Please enter the email address associated with your account and We will email you a link to reset your password.</p>
                   </div>
                   <!-- form -->
                   <form (ngSubmit)="onSubmit(f)" #f = "ngForm">
                      <!-- row -->
                      <div class="row g-3">
                         <!-- col -->
                         <div class="col-12">
                            <!-- input -->
                            <label for="formForgetEmail" class="form-label visually-hidden">Email address</label>
                            <input 
                            type="email" 
                            class="form-control" 
                            id="formForgetEmail" 
                            placeholder="Email" 
                            required 
                            ngModel
                            name="email"
                            #email="ngModel">
                            <small class="text-danger"*ngIf="email.invalid && email.touched">Please enter correct email.</small>
                         </div>

                         <!-- btn -->
                         <div class="col-12 d-grid gap-2">
                            <button type="submit" class="btn btn-success" [disabled]="f.invalid">Reset Password</button>
                            <a routerLink="/login" class="btn btn-outline-success">Back</a>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>