<div class="border-bottom bg-white ">
    <!-- lang-nav -->
	<div class="bg-light py-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12 text-center text-md-start"><span>Super Value Deals - Save more with coupons</span></div>
				<div class="col-6 text-end d-none d-md-block">
                    <a role="button">
                        English
                    </a>
				</div>
			</div>
		</div>
	</div>
    <!--logo,search,icons -->
	<div class="py-2">
		<div class="container">
			<div class="row w-100 align-items-center gx-lg-2 gx-0">
				<div class="col-xxl-2 col-lg-3 col-md-6 col-5">
					<a class="navbar-brand d-none d-lg-block fs-2 fw-bold" href="">
						MARKET
					</a>
					<div class="d-flex justify-content-between w-100 d-lg-none">
						<a class="navbar-brand fs-2 fw-bold" href="#">
							MARKET
						</a>
					</div>
				</div>
				<div class="col-xxl-5 col-lg-5 d-none d-lg-block">
					<form>
						<div class="input-group">
							<input class="form-control rounded" type="search" placeholder="Search for products">
						</div>
					</form>
				</div>
				<div class="col-md-2 col-xxl-3 d-none d-lg-block">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#locationModal">
						Location
					</button>
				</div>
                <!--icons -->
				<div class="col-lg-2 col-xxl-2 text-end col-md-6 col-7">
					<div class="list-inline">
						<div class="list-inline-item me-4">
							<a  routerLink="/wishlist" class="my-green position-relative">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
									<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-success">
									{{wishlistItems.length}}
									<span class="visually-hidden">unread messages</span>
								</span>
							</a>
						</div>
						<div class="list-inline-item me-4" *ngIf="!isAuthenticated">
							<a routerLink="/login" class="my-green" >
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
									<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
									<circle cx="12" cy="7" r="4"></circle>
								</svg>
							</a>
						</div>
						<div class="list-inline-item me-4" *ngIf="isAuthenticated">
							<a (click)="onLogout()" class="my-green" >
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
									<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
								</svg>
							</a>
						</div>
						<div class="list-inline-item me-4 me-lg-0">
							<a class="my-green position-relative"  routerLink="/cart"  role="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" stroke-width="2" class="bi bi-cart2" viewBox="0 0 16 16">
									<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
								</svg>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-success">
									{{cartItems.length}}
									<span class="visually-hidden">unread messages</span>
								</span>
							</a>
						</div>
						<div class="list-inline-item d-inline-block d-lg-none">
							<!-- Button -->
							<button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-label="Toggle navigation">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-left text-success" viewBox="0 0 16 16">
									<path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- features navigation, offcanvas -->
	<nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-4" aria-label="Offcanvas navbar large">
		<div class="container">
			<div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
				<div class="offcanvas-header pb-1">
					<a class="navbar-brand fs-3 fw-bold" href="#">MARKET</a>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<div class="d-block d-lg-none mb-4">
						<form >
							<div class="input-group">
								<input class="form-control rounded" type="search" placeholder="Search for products">
							</div>
						</form>
						<div class="mt-2">
							<button type="button" class="btn btn-outline-secondary text-muted w-100" data-bs-toggle="modal" data-bs-target="#locationModal">
								Pick Location
							</button>
						</div>
					</div>
					<div class="d-block d-lg-none mb-4">
						<a class="btn btn-success w-100 d-flex justify-content-center align-items-center" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
							All Departments
						</a>
						<div class="collapse mt-2" id="collapseExample">
							<div class="card card-body">
								<ul class="mb-0 list-unstyled" data-bs-dismiss="offcanvas">
									<li><a class="dropdown-item" href="#">Dairy, Bread &amp; Eggs</a></li>
									<li><a class="dropdown-item" href="#">Snacks &amp; Munchies</a></li>
									<li><a class="dropdown-item" href="#">Fruits &amp; Vegetables</a></li>
									<li><a class="dropdown-item" href="#">Cold Drinks &amp; Juices</a></li>
									<li><a class="dropdown-item" href="#">Breakfast &amp; Instant Food</a></li>
									<li><a class="dropdown-item" href="#">Bakery &amp; Biscuits</a></li>
									<li><a class="dropdown-item" href="#">Chicken, Meat &amp; Fish</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="dropdown me-3 d-none d-lg-block">
						<button class="btn btn-success px-6" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							All Departments
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#">Dairy, Bread &amp; Eggs</a></li>
							<li><a class="dropdown-item" href="#">Snacks &amp; Munchies</a></li>
							<li><a class="dropdown-item" href="#">Fruits &amp; Vegetables</a></li>
						    <li><a class="dropdown-item" href="#">Cold Drinks &amp; Juices</a></li>
							<li><a class="dropdown-item" href="#">Breakfast &amp; Instant Food</a></li>
							<li><a class="dropdown-item" href="#">Bakery &amp; Biscuits</a></li>
							<li><a class="dropdown-item" href="#">Chicken, Meat &amp; Fish</a></li>
						</ul>
					</div>
					<div>
						<ul class="navbar-nav nav-underline align-items-center">
							<li class="nav-item  w-100 w-lg-auto" data-bs-dismiss="offcanvas">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/home">Home</a>
							</li>
							<li class="nav-item  w-100 w-lg-auto" data-bs-dismiss="offcanvas">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/products">Shop</a>
							</li>
							<li class="nav-item w-100 w-lg-auto" data-bs-dismiss="offcanvas">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/recipes">Recipes</a>
							</li>
							<li class="nav-item dropdown w-100 w-lg-auto">
								<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mega menu</a>
								<div class="dropdown-menu pb-0" style="width: 100vw;">
									<div class="row p-2 p-lg-4">
										<div class="col-lg-3 col-12 mb-4 mb-lg-0">
											<h6 class="text-primary ps-3">Dairy, Bread &amp; Eggs</h6>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Butter</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Milk Drinks</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Curd &amp; Yogurt</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Eggs</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Buns &amp; Bakery</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Cheese</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Condensed Milk</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Dairy Products</a>
										</div>
										<div class="col-lg-3 col-12 mb-4 mb-lg-0">
											<h6 class="text-primary ps-3">Breakfast &amp; Instant Food</h6>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Breakfast Cereal</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Noodles, Pasta &amp; Soup</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Frozen Veg Snacks</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Frozen Non-Veg Snacks</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Vermicelli</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Instant Mixes</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Batter</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Fruit and Juices</a>
										</div>
										<div class="col-lg-3 col-12 mb-4 mb-lg-0">
											<h6 class="text-primary ps-3">Cold Drinks &amp; Juices</h6>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Soft Drinks</a>
											<a class="dropdown-item" hdata-bs-dismiss="offcanvas" routerLink="/products">Fruit Juices</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Coldpress</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Water &amp; Ice Cubes</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Soda &amp; Mixers</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Health Drinks</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Herbal Drinks</a>
											<a class="dropdown-item" data-bs-dismiss="offcanvas" routerLink="/products">Milk Drinks</a>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item w-100 w-lg-auto" data-bs-dismiss="offcanvas">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/about">About</a>
							</li>
							<li class="nav-item w-100 w-lg-auto" data-bs-dismiss="offcanvas">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/contact">Contact</a>
							</li>
							<li class="nav-item w-100 w-lg-auto" data-bs-dismiss="offcanvas" *ngIf="isAuthenticated">
								<a class="nav-link text-muted" routerLinkActive="active" routerLink="/profile" >Profile</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<div  class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true" role="dialog" >
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-4">
				<div class="d-flex justify-content-between align-items-start">
					<div>
						<h5 class="mb-1" id="locationModalLabel">Choose your Delivery Location</h5>
						<p class="mb-0 small">Enter your address and we will specify the offer you area.</p>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="my-5">
					<input type="search" class="form-control" placeholder="Search your area">
				</div>
				<div class="d-flex justify-content-between align-items-center mb-2">
					<h6 class="mb-0">Select Location</h6>
					<a href="#" class="btn btn-outline-secondary text-muted btn-sm">Clear All</a>
				</div>
				<div>
					<div class="list-group list-group-flush">
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Alabama</span>
							<span>Min:$20</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Alaska</span>
							<span>Min:$30</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Arizona</span>
							<span>Min:$50</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>California</span>
							<span>Min:$29</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Colorado</span>
							<span>Min:$80</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Florida</span>
							<span>Min:$90</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Arizona</span>
							<span>Min:$50</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>California</span>
							<span>Min:$29</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Colorado</span>
							<span>Min:$80</span>
						</a>
						<a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
							<span>Florida</span>
							<span>Min:$90</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>