<!-- carousel -->
<section class="mt-5">
    <div class="container">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/images/carousel-1.jpg" class="d-block w-100 rounded" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/images/carousel-2.jpg" class="d-block w-100 rounded" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/carousel-3" class="d-block w-100 rounded" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>
<!-- Featured Categories-->    
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 class="mb-0">Featured Categories</h3>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-lg-0">
                <div>
                    <div class="py-5 px-3 rounded" style="background: url(assets/images/home-ads.jpg) no-repeat; background-size: cover; background-position: center">
                        <div>
                            <h3 class="fw-bold mb-1">Fruits &amp; Vegetables</h3>
                            <p class="mb-4">
                                Get Upto
                                <span class="fw-bold">30%</span>
                                Off
                            </p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <div class="py-5 px-3 rounded" style="background: url(assets/images/home-ads-2.jpg) no-repeat; background-size: cover; background-position: center">
                        <div>
                            <h3 class="fw-bold mb-1">Freshly Baked Buns</h3>
                            <p class="mb-4">
                                Get Upto
                                <span class="fw-bold">25%</span>
                                Off
                            </p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Products-->  
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 class="mb-0">Popular Products</h3>
            </div>
        </div>
        <div class="row gx-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mt-2">
            <div class="col mb-3 d-flex justify-content-center" *ngFor="let popularProduct of popularProducts ;let i = index">
                <div class="card" style="width: 18rem;">
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0 p-2">
                            <button (click)="onAddToWishlist(popularProduct)" [ngClass]="{'bg-dark': popularProduct.addedToWishlist}" type="button" class="btn btn-success btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                                </svg>
                            </button>
                        </div>
                        <a href="">
                            <img [src]="popularProduct.imageUrl" class="card-img-top" alt="{{popularProduct.name}}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="text-small mb-1">
                            <a style="cursor: pointer;" class="text-decoration-none text-muted"><small>{{popularProduct.categories}}</small></a>
                        </div>
                        <h2 class="fs-6"><a style="cursor: pointer;" (click)="goToProduct(i)"
                             class="text-inherit text-decoration-none">{{popularProduct.name}}</a></h2>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <span class="text-dark">{{popularProduct.price}} EGP</span>
                            </div>
                        </div>
                      <div class="d-grid mt-2">
                        <a style="cursor: pointer;" (click)="onAddToCart(popularProduct)" [ngClass]="{'bg-dark': popularProduct.addedToCart}" class="btn btn-success">
                            +Add to cart
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
<!-- Daily Best Sells--> 
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 class="mb-0">Daily Best Sells</h3>
            </div>
        </div>
        <div class="row gx-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mt-2">
            <div class="col mb-3 d-flex justify-content-center ">
                <div class="pt-3 px-2 px-xl-3 rounded" style="background: url(assets/images/coffe.jpg) no-repeat; background-size: cover; height: 400px">
                    <div>
                        <h3 class="fw-bold text-white">100% Organic Coffee Beans.</h3>
                        <p class="text-white">Get the best deal before close.</p>
                        <a href="#!" class="btn btn-success">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col mb-3 d-flex justify-content-center"*ngFor="let dailyBestSell of dailyBestSells ;let i = index">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0 p-2">
                            <button (click)="onAddToWishlist(dailyBestSell)" [ngClass]="{'bg-dark': dailyBestSell.addedToWishlist}" type="button" class="btn btn-success btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                                </svg>
                            </button>
                        </div>
                        <a href="">
                            <img [src]="dailyBestSell.imageUrl" class="card-img-top img-fluid" style="height: 12rem;" alt="{{dailyBestSell.name}}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="text-small mb-1">
                            <a style="cursor: pointer;" class="text-decoration-none text-muted"><small>{{dailyBestSell.categories}}</small></a>
                        </div>
                        <h2 class="fs-6"><a style="cursor: pointer;" (click)="goToProduct(i)"
                             class="text-inherit text-decoration-none">{{dailyBestSell.name}}</a>
                            </h2>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <span class="text-dark">{{dailyBestSell.price}}</span>
                            </div>
                        </div>
                      <div class="d-grid mt-2">
                        <a style="cursor: pointer;" (click)="onAddToCart(dailyBestSell)" [ngClass]="{'bg-dark': dailyBestSell.addedToCart}" class="btn btn-success">
                            +Add to cart
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- grocery policy--> 
<section class="my-lg-5 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="mb-3 mb-xl-0">
                    <div class="mb-3"><img src="" alt=""></div>
                    <h3 class="h5 mb-3">10 minute grocery now</h3>
                    <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-3 mb-xl-0">
                    <div class="mb-3"><img src="" alt=""></div>
                    <h3 class="h5 mb-3">Best Prices &amp; Offers</h3>
                    <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess &amp; offers.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-3 mb-xl-0">
                    <div class="mb-3"><img src="" alt=""></div>
                    <h3 class="h5 mb-3">Wide Assortment</h3>
                    <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg &amp; other categories.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mb-3 mb-xl-0">
                    <div class="mb-3"><img src="" alt=""></div>
                    <h3 class="h5 mb-3">Easy Returns</h3>
                    <p>
                        Not satisfied with a product? Return it at the doorstep &amp; get a refund within hours. No questions asked
                        <a routerLink="/about" class="link-success">policy</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>