.my-card {
    transition: border-color 0.3s ease;
}
  
.my-card:hover {
    border: 1px solid rgb(64, 133, 64);
}
.my-wish {
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .my-wish {
    opacity: 1;
}
.my-green {
    color: black;
}
  
.my-green:hover {
    color: rgb(55, 112, 55);
}