<div class="py-4 p-md-4 p-lg-5">
    <div class="d-flex justify-content-between mb-6">
        <!-- heading -->
        <h2 class="mb-0">Address</h2>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a new address
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <!-- modal content -->
                <div class="modal-content">
                    <!-- modal body -->
                    <div class="modal-body p-3">
                        <div class="d-flex justify-content-between mb-5">
                            <div>
                                <!-- heading -->
                                <h5 class="modal-title fs-5" id="exampleModalLabel">New Shipping Address</h5>
                                <p class="small mb-0">Add new shipping address for your order delivery.</p>
                            </div>
                            <div>
                                <!-- button -->
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row g-3">
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="Address Line 1">
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="Address Line 2">
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- form select -->
                                <select class="form-select">
                                    <option selected="">Egypt</option>
                                    <option value="1">UK</option>
                                    <option value="2">USA</option>
                                    <option value="3">UAE</option>
                                </select>
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- form select -->
                                <select class="form-select">
                                    <option selected="">Gujarat</option>
                                    <option value="1">Northern Ireland</option>
                                    <option value="2">Alaska</option>
                                    <option value="3">Abu Dhabi</option>
                                </select>
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="Zip Code">
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="Business Name">
                            </div>
                            <!-- col -->
                            <div class="col-12">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Set as Default</label>
                                </div>
                            </div>
                            <!-- col -->
                            <div class="col-12 text-end">
                                <button type="button" class="btn btn-outline-success btn-sm" data-bs-dismiss="modal">Cancel</button>
                                <button class="btn btn-success btn-sm ms-1" type="button">Save Address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-xl-2 row-cols-md-1 mt-2">
        <!-- col -->
        <div class="col mb-3 d-flex justify-content-start">
            <!-- form -->
            <div class="card">
                <div class="card-body pe-5 py-3">
                    <div class="form-check mb-4">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="homeRadio" checked>
                        <label class="form-check-label text-dark fw-semibold" for="homeRadio">Home</label>
                    </div>
                    <!-- address -->
                    <p class="mb-6">
                        Jitu Chauhan
                        <br>
                        4450 North Avenue Oakland,
                        <br>
                        Nebraska, United States,
                        <br>
                        402-776-1106
                    </p>
                    <!-- btn -->
                    <a href="#" class="btn btn-outline-primary btn-sm">Default address</a>
                    <div class="mt-4">
                        <a href="#" class="link-success">Edit</a>
                        <a href="#" class="text-danger ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
