<div class="border-top bg-light pt-5">
  <div class="container">
    <div class="row g-4 py-4">
      <div class="col-12 col-md-12 col-lg-4">
        <h6 class="mb-4">Categories</h6>
        <div class="row">
          <div class="col-6">
            <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Vegetables &amp; Fruits</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success"> Breakfast &amp; instant food</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success"> Bakery &amp; Biscuits</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Atta, rice &amp; dal</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Sauces &amp; spreads</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Organic &amp; gourmet</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success"> Baby care</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Cleaning essentials</a></li>
              <li class="nav-item mb-2"><a routerLink="/products" class="nav-link link-success">Personal care</a></li>
            </ul>
          </div>
          <div class="col-6">
              <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Dairy, bread &amp; eggs</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success"> Cold drinks &amp; juices</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success"> Tea, coffee &amp; drinks</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Masala, oil &amp; more</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Chicken, meat &amp; fish</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Paan corner</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success"> Pharma &amp; wellness</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Home &amp; office</a></li>
              <li class="nav-item mb-2 "><a routerLink="/products" class="nav-link link-success">Pet care</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-8">
        <div class="row g-4">
          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">Get to know us</h6>
              <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Company</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">About</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Blog</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Help Center</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Our Value</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">For Consumers</h6>
            <ul class="nav flex-column">
                  <!-- list -->
              <li class="nav-item mb-2"><a routerLink="/signup" class="nav-link link-success">Payments</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Shipping</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Product Returns</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">FAQ</a></li>
              <li class="nav-item mb-2"><a routerLink="/checkout" class="nav-link link-success">Shop Checkout</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">Become a Shopper</h6>
            <ul class="nav flex-column">
                <!-- list -->
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Shopper Opportunities</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Become a Shopper</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Earnings</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Ideas &amp; Guides</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">New Retailers</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">MARKET programs</h6>
            <ul class="nav flex-column">
                <!-- list -->
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">MARKET programs</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Gift Cards</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Promos &amp; Coupons</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">MARKET Ads</a></li>
              <li class="nav-item mb-2"><a routerLink="/about" class="nav-link link-success">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="row align-items-center">
        <div class="col-lg-5 text-lg-start text-center mb-2 mb-lg-0">
          <ul class="list-inline mb-0">
            <li class="list-inline-item text-dark">Payment Partners</li>
          </ul>
        </div>
        <div class="col-lg-7 mt-4 mt-md-0">
          <ul class="list-inline mb-0 text-lg-end text-center">
            <li class="list-inline-item mb-2 mb-md-0 text-dark">Get deliveries with FreshCart</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="row align-items-center">
        <div class="col-md-6">
          <span class="small text-muted">© 2022 - 2024 MARKET eCommerce HTML Template. All rights reserved</span>
      </div>
    </div>
</div>

