<main>
    <!-- section -->
    <section class="mt-lg-5 mt-3">
       <!-- container -->
       <div class="container">
          <!-- row -->
          <div class="row">
             <!-- col -->
             <div class="offset-lg-1 col-lg-10 col-12">
                <div class="row align-items-center mb-5">
                   <div class="col-md-6">
                      <!-- text -->
                      <div class="ms-xxl-5 me-xxl-5 mb-5 mb-md-0 text-center text-md-start">
                         <h1 class="mb-3">The Future of Grocery Delivery:</h1>
                         <p class="mb-0 lead">By powering the future of grocery with our retail partners, we give everyone access to the food they love and more time to enjoy it together.</p>
                      </div>
                   </div>
                   <!-- col -->
                   <div class="col-md-6">
                      <div>
                         <!-- img -->
                         <img src="assets/images/about-1.png" alt="" class="img-fluid rounded">
                      </div>
                   </div>
                </div>
                <!-- row -->
                <div class="row mb-12">
                   <div class="col-12">
                      <div class="mb-8">
                         <!-- heading -->
                         <h2>Ready to get started?</h2>
                      </div>
                   </div>
                   <div class="col-md-4">
                      <!-- card -->
                      <div class="card bg-light mb-3 border-0">
                         <!-- card body -->
                         <div class="card-body p-3">
                            <h4>Grow my business with MARKET</h4>
                            <p>Duis placerat, urna ut dictum lobortis, erat libero feugiat nulla, ullamcorper fermentum lectus dolor ut tortor.</p>
                            <!-- btn -->
                            <a href="#" class="btn btn-dark mt-2">MARKET Platform</a>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-4">
                      <!-- card -->
                      <div class="card bg-light mb-3 border-0">
                         <!-- card body -->
                         <div class="card-body p-3">
                            <h4>Advertise my brand on MARKET</h4>
                            <p>Duis placerat, urna ut dictum lobortis, erat libero feugiat nulla, ullamcorper fermentum lectus dolor ut tortor.</p>
                            <!-- btn -->
                            <a href="#" class="btn btn-dark mt-2">MARKET ads</a>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-4">
                      <!-- card -->
                      <div class="card bg-light mb-3 border-0">
                         <!-- card body -->
                         <div class="card-body p-3">
                            <h4>Learn more about Freshcart</h4>
                            <p>Duis placerat, urna ut dictum lobortis, erat libero feugiat nulla, ullamcorper fermentum lectus dolor ut tortor.</p>
                            <!-- btn -->
                            <a href="#" class="btn btn-dark mt-2">Learn More</a>
                         </div>
                      </div>
                   </div>
                   <div class="col">
                      <!-- text -->
                      <p>
                         For assistance using MARKET services, please visit our
                         <a href="#" class="link-success">Help Center</a>
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- section -->
    <section class="bg-success py-5">
       <div class="container">
          <div class="row">
             <!-- col -->
             <div class="offset-lg-1 col-lg-10">
                <div class="row">
                   <!-- col -->
                   <div class="col-xl-4 col-md-6">
                      <div class="text-white me-4 mb-5">
                         <!-- text -->
                         <h2 class="text-white mb-4">Trusted by retailers. Loved by customers.</h2>
                         <p>We give everyone access to the food they love and more time to enjoy it together.</p>
                      </div>
                   </div>
                   <div class="row row-cols-2 row-cols-md-4">
                      <!-- col -->
                      <div class="col mb-4 mb-md-0">
                         <h3 class="display-5 fw-bold text-white mb-0">500k</h3>
                         <span class="fs-6 text-white">Shoppers</span>
                      </div>
                      <!-- col -->
                      <div class="col mb-4 mb-md-0">
                         <h3 class="display-5 fw-bold text-white mb-0">4,500+</h3>
                         <span class="fs-6 text-white">Cities</span>
                      </div>
                      <!-- col -->
                      <div class="col mb-4 mb-md-0">
                         <h3 class="display-5 fw-bold text-white mb-0">40k+</h3>
                         <span class="fs-6 text-white">Stores</span>
                      </div>
                      <!-- col -->
                      <div class="col mb-4 mb-md-0">
                         <h3 class="display-5 fw-bold text-white mb-0">650+</h3>
                         <span class="fs-6 text-white">Retail Brands</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- section -->
    <section class="mt-5">
       <!-- container -->
       <div class="container">
          <div class="row">
             <!-- col -->
             <div class="offset-md-1 col-md-10">
                <div class="mb-4">
                   <!-- heading -->
                   <h2>Our Leadership</h2>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section>
        <div class="container mb-4">
            <div class="row ">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="assets/images/mo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mohamed Elsayed</h5>
                          <p class="card-text">Front-End Developer.</p>
                        </div>
                        <div class="card-body">
                          <a href="https://www.linkedin.com/in/mohamed-elsayed-2a6a92a8/" class="card-link text-decoration-none link-success">LinkedIn</a>
                          <a href="https://github.com/Mohamed-Elsayed1994" class="card-link text-decoration-none link-success">GitHub</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <h3>Objective</h3>
                        </div>
                    </div>
                    <p class="lead">Motivated self-learner junior front-end developer seeking to leverage programming skills and 
                     passion for web development to contribute to dynamic projects. Eager to learn and grow in a
                     collaborative team environment and Committed to continuous learning and staying updated 
                     with the latest advancements.
                    </p>
                    <div class="row">
                        <div class="col">
                            <h3>Skills</h3>
                        </div>
                    </div>
                    <ol>
                        <li>Angular</li>
                        <li>RXJS</li>
                        <li>NgRx</li>
                        <li>Angular Material</li>
                        <li>Rest APIs</li>
                        <li>Java Scrip</li>
                        <li>Type Script</li>
                        <li>Unit Test</li>
                        <li>OOP</li>
                        <li>Bootstrap</li>
                        <li>Git</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
 </main>

