<main>
    <div class="mt-4">
       <div class="container">
          <div class="row">
             <div class="col-12">
                <!-- breadcrumb -->
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="#!">Home</a></li>
                      <li class="breadcrumb-item"><a href="#!">Shop</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My Wishlist</li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
    <!-- section -->
    <section class="mt-8 mb-14">
       <div class="container">
          <!-- row -->
          <div class="row">
             <div class="col-lg-12">
                <div class="mb-8">
                   <!-- heading -->
                   <h1 class="mb-1">My Wishlist</h1>
                   <p>products in this wishlist:</p>
                </div>
                <div>
                   <div class="table-responsive">
                      <table class="table text-nowrap table-with-checkbox">
                         <thead class="table-light">
                            <tr>
                               <th>
                                  <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                     <label class="form-check-label" for="checkAll"></label>
                                  </div>
                               </th>
                               <th></th>
                               <th>Product</th>
                               <th>Price</th>
                               <th>In Stock</th>
                               <th>Actions</th>
                               <th>Remove</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td class="align-middle">
                                  <div class="form-check">
                                     <input 
                                     class="form-check-input" 
                                     type="checkbox" 
                                     value="" 
                                     id="chechboxTwo">
                                     <label class="form-check-label" for="chechboxTwo"></label>
                                  </div>
                               </td>
                               <td class="align-middle">
                                  <a href="#">
                                    <img src="../assets/images/products/product-img-18.jpg" class="icon-shape icon-xxl" alt="">
                                 </a>
                               </td>
                               <td class="align-middle">
                                  <div>
                                     <h5 class="fs-6 mb-0">
                                       <a href="#" class="text-inherit">Organic Banana</a>
                                    </h5>
                                     <small>$.98 / lb</small>
                                  </div>
                               </td>
                               <td class="align-middle">$35.00</td>
                               <td class="align-middle">
                                 <span class="badge bg-success">true</span>
                              </td>
                               <td class="align-middle">
                                  <div class="btn btn-success btn-sm">Add to Cart</div>
                               </td>
                               <td class="align-middle">
                                  <a href="#" class="text-muted">
                                    <div class="btn btn-danger btn-sm">Delete</div>
                                  </a>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>