<div class="py-5 p-md-4 p-lg-5">
    <!-- heading -->
    <h2 class="mb-4">Your Orders</h2>
    <div class="table-responsive-xxl border-0">
       <!-- Table -->
       <table class="table mb-0 text-nowrap table-centered">
          <!-- Table Head -->
          <thead class="bg-light">
             <tr>
                <th>&nbsp;</th>
                <th>Product</th>
                <th>Order</th>
                <th>Date</th>
                <th>Items</th>
                <th>Status</th>
                <th>Amount</th>
                <th></th>
             </tr>
          </thead>
          <tbody *ngFor="let userOrder of userOrders ; let i = index">
             <!-- Table body -->
             <tr>
                <td class="align-middle border-top-0 w-0">
                   <a href="#"><img [src]="userOrder.imageUrl" class="img-fluid" style="max-width: 100px;" alt="Ecommerce"></a>
                </td>
                <td class="align-middle border-top-0">
                   <a href="#" class="fw-semibold text-inherit">
                      <h6 class="mb-0">{{userOrder.name}}</h6>
                   </a>
                   <span><small class="text-muted">{{userOrder.tags}}</small></span>
                </td>
                <td class="align-middle border-top-0">
                   <a href="#" class="text-inherit">#{{userOrder.id}}</a>
                </td>
                <td class="align-middle border-top-0">{{userOrder.orderDate}}</td>
                <td class="align-middle border-top-0">{{userOrder.orderQuantity}}</td>
                <td class="align-middle border-top-0">
                   <span class="badge bg-warning">Processing</span>
                </td>
                <td class="align-middle border-top-0">{{userOrder.price * userOrder.orderQuantity}} EGP</td>
                <td class="text-muted align-middle border-top-0">
                   <a href="#" class="text-inherit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View"><i class="feather-icon icon-eye"></i></a>
                </td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>